appdirs==1.4.4
blinker==1.9.0
Brotli==1.1.0
cachelib==0.13.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==2.0.12
click==8.1.8
cryptography==44.0.2
cssselect2==0.8.0
DBUtils==3.1.1
Flask==3.1.0
Flask-Mail==0.10.0
Flask-Session==0.6.0
fonttools==4.56.0
fpdf==1.7.2
gunicorn==23.0.0
idna==3.10
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.5
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
msal==1.32.0
packaging==24.2
pdfkit==1.0.0
pillow==11.1.0
platformdirs==4.2.2
pluggy==1.5.0
pycparser==2.22
pydyf==0.11.0
pyee==11.1.1
Pygments==2.19.1
PyJWT==2.10.1
pymssql==2.3.2
pyodbc==5.2.0
pyphen==0.17.2
pyppeteer==2.0.0
pyscript==0.3.3
python-dotenv==1.0.1
requests==2.26.0
rich==13.7.1
tinycss2==1.4.0
tinyhtml5==2.0.0
toml==0.10.2
tqdm==4.67.1
typer==0.9.0
typing_extensions==4.12.2
urllib3==1.26.20
weasyprint==64.1
webencodings==0.5.1
websockets==10.4
Werkzeug==3.1.0
zipp==3.21.0
zopfli==0.2.3.post1
flask-cors==4.0.1
