.main-content {
    color: #324bab;
    display: flex;
    flex-direction: column;
}

.content{
    padding: 0% 3% 3% 3%;
}

.title-container {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.back {
    margin-right: auto;
}

.title-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.title-container a.back img {
    width: 24px;
    height: auto;
}

.title-container h2 {
    margin: 0;
}

.client-info {
    color: #324bab;
    font-size: 1em;
    margin: 10px 0; 
}

.client-info p {
    margin: 0;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.styled-table th, .styled-table td {
    border: 1px solid #324bab;
    padding: 10px;
    text-align: left;
}

.styled-table th {
    background-color: #d0ebff;
    color: #324bab;
    align-items: center;
}

.input-field {
    margin: auto;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #324bab;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-items: center;
}

#store-select {
    width: 100%;
}

.inline-label, .file-upload-container {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    justify-content: center;
    font-weight: bold;
    color: #324bab;
    font-size: 1em;
}

.inline-label + .small-input {
    margin-left: 5px;
}

.small-input {
    width: 100px;
    display: inline-block;
    margin-right: 20px;
}

.input-field:focus {
    outline: none;
    background-color: #f0f0f0;
}

.add-button {
    background-color: #d0ebff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #324bab;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #324bab;
    color: #d0ebff;
    border: none;
    border-radius: 5px;
    width: auto;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.file-upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.file-upload-container label {
    margin-right: 10px;
}

.upload-button {
    margin-left: 10px;
    background-color: #d0ebff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #324bab;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.add-button:hover, upload-button:hover{
    background-color: #92cbf7;
}

input[type="submit"]:hover {
    background-color: #4068f8;
}


.edit-icon img, .delete-icon img{
    width: 24px;
    height: auto;
}