.main-content {
    color: #324bab;
    display: flex;
    flex-direction: column;
}

.content{
    padding: 0% 3% 3% 3%;
}

.title-container {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.back {
    margin-right: auto;
}

.title-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.title-container a.back img {
    width: 24px;
    height: auto;
}

.title-container h2 {
    margin: 0;
}

.client-info {
    color: #324bab;
    font-size: 1em;
    margin: 10px 0; 
}

.client-info p {
    margin: 0;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.styled-table th, .styled-table td {
    border: 1px solid #324bab;
    padding: 10px;
    text-align: left;
}

.styled-table th {
    background-color: #d0ebff;
    color: #324bab;
    align-items: center;
}

.styled-table td.no-border {
    border: none !important;
}

/* Definición de anchos para cada columna */
.styled-table .col-currency {
    width: 5%;
}
.styled-table .col-tender {
    width: 15%;
}
.styled-table .col-date {
    width: 10%;
}
.styled-table .col-amount {
    width: 15%;
}
.styled-table .col-discount {
    width: 12%;
}
.styled-table .col-reference {
    width: 20%;
}
.styled-table .col-account {
    width: 20%;
}
.styled-table .col-actions {
    width: 3%;
}
.styled-table td .input-field {
    width: 95%;
    min-width: 0;
    box-sizing: border-box;
}

.styled-table tr .col-daysElapsed {
    width: 28%;
    min-width: 0;
    box-sizing: border-box;
}
.styled-table tr .col-commission {
    width: 28%;
    min-width: 0;
    box-sizing: border-box;
}

.heading-table td {
    padding: 5px;
}

.hidden-column {
    display: none; /* Oculta la columna */
}

.input-field {
    margin: auto;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #324bab;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-items: center;
}

#store-select {
    width: 100%;
}

.inline-label, .file-upload-container {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    justify-content: center;
    font-weight: bold;
    color: #324bab;
    font-size: 1em;
}

.inline-label + .small-input {
    margin-left: 5px;
}

/* Estilo para la Comisión Total en una línea  */

.inline-label {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
}

#commission_note {
    white-space: nowrap;
}

/**/

.small-input {
    width: 100px;
    display: inline-block;
    margin-right: 20px;
}

#saldo_nota, #dias_transcurridos{
    font-weight: normal;
}

.input-field:focus {
    outline: none;
    background-color: #f0f0f0;
}

.add-button {
    background-color: #d0ebff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #324bab;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #324bab;
    color: #d0ebff;
    border: none;
    border-radius: 5px;
    width: auto;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upload-header {
    margin-bottom: 5px;
}

/* Título principal (Label) */
.upload-header label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px; /* Espacio mínimo con el párrafo de abajo */
}

/* Mensaje de aclaración */
.upload-header p {
    margin: 0; /* Elimina el espacio extra arriba y abajo */
    font-weight: normal; /* Quita las negritas */
    font-size: 0.85rem; /* Tamaño un poco más pequeño */
    color: #666; /* Un tono gris para diferenciarlo del título */
}

.upload-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selected-files {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.file-preview {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.file-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.remove-file {
    position: absolute;
    top: 2px;
    right: 2px;
    background: rgba(255,0,0,0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-button  {
    margin-left: 10px;
    background-color: #d0ebff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #324bab;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.submit-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.add-button:hover, upload-button:hover{
    background-color: #92cbf7;
}

input[type="submit"]:hover {
    background-color: #4068f8;
    cursor: pointer;
}

.undo-button, .save-button, .cancel-button {
    background-color: #324bab;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #4068f8;
}

.cancel-button:hover {
    background-color: #b21554;
}

.edit-icon img, .delete-icon img{
    width: 24px;
    height: auto;
    cursor: pointer;
}

/*Modal*/

.modal {
    color: #324bab;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 20%;
    top: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.loading-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 20%;
    top: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.loading-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.error {
    border: 1px solid #ff0000 !important;
    box-shadow: 0 0 3px rgba(255, 0, 0, 0.5);
}

/* Deshabilitando el Descuento, pero manteniéndolo en el DOM */
.hidden-discount,
.hidden-discount-input {
    display: none !important;
}

/* Estilo para alinear el campo de descuento y el campo de soporte en la misma línea */
.discount-controls {
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-bottom: 20px;
    white-space: nowrap;
}

/* Asegura que los inputs pequeños no sean demasiado grandes */
.discount-controls .small-input {
    width: 80px;
}

/* Ocultando visualmente filas N/C */
.hidden-nc {
    display: none;
}