.main-content {
    color: #421d83;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 0% 3% 3% 3%;
}

.title-container {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.back {
    margin-right: auto;
}

.title-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.title-container a.back img {
    width: 24px;
    height: auto;
}

.title-container h2 {
    margin: 0;
}

.client-info {
    color: #421d83;
    font-size: 1em;
    margin: 10px 0; 
}

.client-info p {
    margin: 0;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.styled-table th, .styled-table td {
    border: 1px solid #421d83;
    padding: 10px;
    text-align: left;
}

.styled-table th {
    background-color: #d0b8ff;
    color: #421d83;
    align-items: center;
}

.inline-label, .file-upload-container {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    justify-content: center;
    font-weight: bold;
    color: #421d83;
    font-size: 1em;
}

/*.pdf-icon está incrustado en el HTML*/
.pdf-icon {
    width: 50px !important;
    height: auto !important;
}

.pdf-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
}

.pdf-filename {
    vertical-align: middle;
    color: #4B0082;
}

#saldo_nota, #dias_transcurridos{
    font-weight: normal;
}

.inline-label + .small-input {
    margin-left: 5px;
}

.small-input {
    width: 100px;
    display: inline-block;
    margin-right: 20px;
}

.upload-button {
    margin-left: 10px;
    background-color: #d0b8ff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #421d83;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.deny-button, .validate-button {
    background-color: #421d83;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.deny-button:hover {
    background-color: #b21554;
}
.validate-button:hover {
    background-color: #8b56ed;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.styled-table td input {
    display: none;
}

.styled-table td {
    color: #421d83;
}

.file-upload-container img {
    max-width: 500px;
    height: auto;
}

/* Generación del PDF */
/* Estilos generales para la vista normal */
.header {
    display: none; /* Ocultar el membrete en la vista normal */
}

/* Estilos específicos para la impresión (PDF) */
@media print {
    @page {
        margin: 1cm;
    }

    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        color: black !important;
        background: white !important;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }

    .header img {
        max-height: 80px;
        filter: grayscale(100%);
    }

    .header-text {
        text-align: center;
    }

    .header-text h1, h3 {
        font-size: 14px !important;
        margin: 0;
        color: black !important;
    }

    .header-text p {
        margin: 5px 0;
        color: black !important;
    }

    .title-container, .button-container, .back {
        display: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
    }

    table, th, td {
        border: 1px solid black !important;
    }

    th, td {
        padding: 6px !important;
        text-align: left;
        color: black !important;
    }

    th {
        background-color: #f0f0f0 !important;
    }

    img {
        max-width: 100%;
        height: auto;
        filter: grayscale(100%);
    }

    .client-info, .styled-table, .inline-label, .file-upload-container {
        color: black !important;
    }

    .styled-table th {
        background-color: #f0f0f0 !important;
        color: black !important;
    }

    .styled-table td {
        color: black !important;
    }

    .file-upload-container {
        margin: 20px 0;
    }

    .file-upload-container img {
        max-width: 500px;
        height: auto;
        display: block;
    }

    .paymentImage{
        width: 500px !important;
    }
}

/* Paginado */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.add-button {
    background-color: #d0b8ff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #421d83;
    font-size: 16px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
}

.add-button:hover {
    background-color: #c4a6ff;
}

.disabled-button {
    background-color: #f0f0f0;
    color: #ccc;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    cursor: not-allowed;
}