{% extends 'base.html' %}

{% block title %}Gipsy - Beneficiarios{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/tableInterface.css') }}"/>
{% endblock %}

{% block content %}

<div class="content">
    <div class="title-container">
        <a class="back" href="{{ url_for('homeCashier') }}"><img src="{{ url_for('static', filename='IMG/back.png') }}" alt="Back"></a>
        <div class="title-center">
            <h2>Beneficiarios</h2>
        </div>
    </div>

    <br>
    <form action="{{ url_for('beneficiaries') }}" method="POST">
        <div class="searchBar">
            <div class="searchInputContainer">
                <input type="text" placeholder="Buscar" name="search" oninput="filterTable(this.value)">
                <button type="submit">
                    <img src="{{ url_for('static', filename='IMG/lupa.png') }}" alt="Buscar">
                </button>
            </div>
        </div>
    </form>
    <br>    

    <!-- Lista de Beneficiarios -->     
    <table class="styled-table" id="rules-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Beneficiario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for beneficiary in beneficiaries %}
            <tr>
                <td>{{ beneficiary[0] }}</td>
                <td data-original-name="{{ beneficiary[1] }}">{{ beneficiary[1] }}</td>
                <td><span class="edit-icon" onclick="editRow(this)"><img src="{{ url_for('static', filename='IMG/edit.png') }}" alt="Editar"></span></td>
            </tr>
            {% endfor %}
        </tbody>               
    </table>  

    <button class="add-button" onclick="addRow()">+</button>

    <!--Formularios ocultos para escritura-->
    <form id="addForm" action="{{ url_for('beneficiaries') }}" method="POST" style="display:none;">
        <input type="hidden" name="action" value="add">
        <input type="hidden" name="id" id="addId">
        <input type="hidden" name="name" id="addName">
    </form>
    
    <form id="editForm" action="{{ url_for('beneficiaries') }}" method="POST" style="display:none;">
        <input type="hidden" name="action" value="edit">
        <input type="hidden" name="id" id="editId">
        <input type="hidden" name="name" id="editName">
    </form>

    <br><br>
    <div class="button-container">
        <button type="button" class="undo-button" onclick="undoChanges()">Deshacer cambios</button>
        <button type="button" class="save-button" onclick="saveChanges()">Guardar cambios</button>
    </div>

    <div id="loadingModal" class="loading-modal">
        <div class="loading-content">
            <p>Guardando cambios...</p>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}
