<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gipsy - Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}"/>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='IMG/Gipsy_isotipo_color.png') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='IMG/Gipsy_imagotipo_color.png') }}" alt="Logo" class="logo">
        <br><br>

        <div class="grid">
            <a href="{{ url_for('loginCashflow') }}" class="card">
                <img src="{{ url_for('static', filename='IMG/cash-flow.png') }}" alt="Flujo de Caja" class="card-img">
                <h3>Flujo de Caja</h3>
            </a>
            <a href="{{ url_for('loginReceipt') }}" class="card">
                <img src="{{ url_for('static', filename='IMG/receipt.png') }}" alt="Recibo de Vendedores" class="card-img">
                <h3>Recibo de Vendedores</h3>
            </a>
            <a href="{{ url_for('loginCashflow') }}" class="card disabled">
                <img src="{{ url_for('static', filename='IMG/document.png') }}" alt="Recibo de Vendedores" class="card-img">
                <h3>Gestión de Documentos</h3>
            </a>
            <a href="{{ url_for('loginCashflow') }}" class="card disabled">
                <img src="{{ url_for('static', filename='IMG/padlock.png') }}" alt="Recibo de Vendedores" class="card-img">
                <h3>Gestión de Credenciales</h3>
            </a>
            
        </div>
    </div>
</body>
</html>