<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gipsy - Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/newIndex.css') }}"/>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='IMG/Gipsy_isotipo_color.png') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='IMG/Gipsy_imagotipo_color.png') }}" alt="Logo" class="logo">
            <br><br>
            <h2>Bienvenido(a) al Sistema de Administración Gipsy</h2>
        </div>
        <br>
        <button class="loginButton">Inicie Sesión</button>
    </div>
    <script>
      document.querySelector('.loginButton').addEventListener('click', function() {
        window.location.href = '/login';
      });
    </script>
</body>
</html>