{% extends "receipt.sellerBase.html" %}

{% block title %}Gipsy - Vendedor{% endblock %}

{% block content %}
    <div class="content">
        <div class="title-container">
            <div class="title-center">
                <h2>Registro de Cobranza Gipsy</h2>
            </div>
            <div class="title-center">
                <h2>Bienvenido(a), vendedor(a) {{session['user_firstName']}}</h2>
            </div>
        </div>
        <img src="{{ url_for('static', filename='IMG/seller_Wallpaper.png') }}" alt="Seller Wallpaper">

    </div>
{% endblock %}