{% extends "receipt.adminBase.html" %}

{% block title %}Gipsy - Recibos de Cobranza{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/sellersList.css') }}"/>
{% endblock %}

{% block content %}

<div class="content">
    <div class="title-container">
        <a class="back" href="{{ url_for('homeAdmin') }}"><img src="{{ url_for('static', filename='IMG/back.png') }}" alt="Back"></a>
        <div class="title-center">
            <h2>Recibos de Cobranza por Validar</h2>
        </div>
    </div>

    <br>
    <form action="{{ url_for('receipts') }}" method="GET">
        <div class="searchBar">
            <div class="searchInputContainer">
                <input id="searchInput" type="text" placeholder="Buscar" name="search" oninput="filterTable(this.value)">
                <button type="submit">
                    <img src="{{ url_for('static', filename='IMG/lupa.png') }}" alt="Buscar">
                </button>
            </div>
        </div>
    </form>
    <br> 
               
    <div class="company-container">
        {% for store in stores %}
        <button class="company-name" onclick="toggleSellers('{{ store[0] }}')">{{ store[0] }} | {{ store[1] }}
            <span class="customer-count">{{ customer_counts[store[0]] }} clientes con recibos por validar</span>
        </button>
        <div class="company-sellers" id="sellers-{{ store[0] }}" style="display: none;">
            {% for customer in customers_with_unvalidated_receipts[store[0]] %}
            <p>{{ customer[0] }} | {{ customer[1] }}{{ customer[2] }}
                <a href="{{ url_for('receiptDetails', customer_id=customer[0], store_id=store[0], pagination=1) }}"><img src="{{ url_for('static', filename='IMG/details.png') }}" alt="Detalles"></a>
            </p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    function filterTable(searchTerm) {
        const companyButtons = document.querySelectorAll('.company-name');
        companyButtons.forEach(button => {
            const storeName = button.textContent.toLowerCase();
            const storeId = button.getAttribute('onclick').match(/'([^']+)'/)[1];
            const sellersDiv = document.getElementById('sellers-' + storeId);
            const sellers = sellersDiv.getElementsByTagName('p');

            let storeMatches = storeName.includes(searchTerm.toLowerCase());
            let sellerMatches = false;

            for (let seller of sellers) {
                const sellerName = seller.textContent.toLowerCase();
                if (sellerName.includes(searchTerm.toLowerCase())) {
                    sellerMatches = true;
                    seller.style.display = '';
                } else {
                    seller.style.display = 'none';
                }
            }

            if (storeMatches || sellerMatches) {
                button.style.display = '';
                sellersDiv.style.display = 'block';
            } else {
                button.style.display = 'none';
                sellersDiv.style.display = 'none'
            }
        });
    }   

    document.querySelectorAll('.company-name').forEach(button => {
        button.addEventListener('click', () => {
            const answer = button.nextElementSibling;
            answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
        });
    });   
</script>
{% endblock %}