{% extends "receipt.adminBase.html" %}

{% block title %}Gipsy - Detalles de Cobranza{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/receiptDetails.css') }}"/>
{% endblock %}

{% block content %}

<div class="content">
    {% if not is_pdf %}
    <div class="title-container">
        <a class="back" href="{{ url_for('receipts') }}"><img src="{{ url_for('static', filename='IMG/back.png') }}" alt="Back"></a>
        <div class="title-center">
            <h2>Detalles de Cobranza</h2>
        </div>
    </div>
    {% endif %}

    <form id="pdfForm" action="{{ url_for('generate_pdf') }}" method="POST">

        {% if not is_pdf %}
        <div class="client-info">
            <p><strong>Empresa:</strong> {{ store[0] }} | {{ store[1] }} </p>
            <p><strong>Cliente:</strong> {{ customer[0] }} | {{ customer[1] }}{{ customer[2] }} </p>
            <p><strong>Recibo:</strong> {{ receipts[ pagination - 1 ][0] }} </p>
            <p><strong>Moneda:</strong> {{ invoices[0][6] }} </p>
        </div>
        {% endif %}
    
        <!-- Envío de datos al servidor -->
        <input type="hidden" name="storeName" value="NombreEmpresa">
        <input type="hidden" name="customerName" value="NombreCliente">
    
        <br>
        <table class="styled-table"> 
            <tr> 
                <th>N_CTA</th>
                <th>Tipo de Documento</th>
                <th>Total Deuda (T/D)</th>
                <th>Fecha Emisión</th>
                <th>Fecha Vencimiento</th>
                <th>Monto Abonado</th>
            </tr> 
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice[0] }}</td>
                <td>{{ invoice[8] }}</td>  
                <td>{{ invoices[0][6] }} {{ "{:,.2f}".format(invoice[1]).replace(".", "X").replace(",", ".").replace("X", ",") }}</td> 
                <td>{{ invoice[2].strftime('%d-%m-%Y') }}</td> 
                <td>{{ invoice[3].strftime('%d-%m-%Y') }}</td> 
                <td>{{ invoices[0][6] }} {{ "{:,.2f}".format(invoice[4]).replace(".", "X").replace(",", ".").replace("X", ",") }}</td> 
            </tr>
            {% endfor %}
        </table>
    
        <br> 
        <div id="formas-de-pago"> 
            <h3>Formas de Pago</h3> 
            <span>
                <b>Descuento aplicado (%):</b>
                {{ "{:,.2f}".format(paymentEntries[0][3]).replace(".", "X").replace(",", ".").replace("X", ",") }}
            </span>
            <table class="styled-table" id="pago-table">
                <tr>
                    <th>Moneda</th>
                    <th>Forma de Pago</th>
                    <th>Fecha de Pago</th>
                    <th>Monto</th>
                    <th>Referencia</th>
                    <th>Abono Realizado en</th>
                </tr>
                {% for paymentEntry in paymentEntries %}
                <tr class="pago-row">
                    <td>{{ paymentEntry[8] }}</td>
                    <td>{{ paymentEntry[0] }}</td>
                    <td>{{ paymentEntry[1].strftime('%d-%m-%Y') }}</td>
                    <td>{{ "{:,.2f}".format(paymentEntry[2]).replace(".", "X").replace(",", ".").replace("X", ",") }}</td>
                    <td>{{ paymentEntry[4] }}</td>
                    <td>{{ paymentEntry[5] }} {{ paymentEntry[6] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div> 
        <div class="inline-label">
            <label for="total_paid">Monto total del Recibo:</label>
            {{ invoices[0][6] }}
            <span id="total_paid" class="small-input">{{ "{:,.2f}".format(receipts[pagination-1][1]).replace(".", "X").replace(",", ".").replace("X", ",") }}</span> 
        </div> 

        <br><br>
        <h3>Cálculo de Comisión</h3>
        <table class="styled-table"> 
            <tr> 
                <th>N_CTA</th>
                <th>Importe Adeudado</th>
                <th>Días Transcurridos</th>
                <th>Comisión</th>
            </tr> 
            {% for repComm in salesRepComm %}
            <tr> 
                <td>{{ repComm[0] }}</td>
                <td>{{ invoices[0][6] }} {{ "{:,.2f}".format(repComm[1]).replace(".", "X").replace(",", ".").replace("X", ",") }}</td>
                <td>{{ repComm[2] }}</td>
                <td>{{ invoices[0][6] }} {{ "{:,.2f}".format(repComm[3]).replace(".", "X").replace(",", ".").replace("X", ",") }}</td>
            </tr> 
            {% endfor %}
        </table>
        <div class="inline-label">
            <label for="total_comm">Comisión Total:</label>
            {{ invoices[0][6] }}
            <span id="total_comm" class="small-input">{{ "{:,.2f}".format(receipts[pagination-1][2]).replace(".", "X").replace(",", ".").replace("X", ",") }}</span>  
        </div> 
    
        {% if not is_pdf %}
        
        <br><br><br>
        <div class="file-upload-container">
            <label>Comprobante(s):</label><br><br>
            {% if paymentEntries %}
                {% for paymentEntry in paymentEntries %}
                    {% if paymentEntry[7] %}
                        {% set file_info = paymentEntry[7] %}
                        {% if file_info.error %}
                        <div class="file-error">
                            Error de conexión, por favor, recargue la página.
                        </div>
                        {% elif not file_info.error and file_info.name.lower().endswith(('.jpeg', '.jpg', '.png')) %}
                            <!-- Para imágenes: embed_url o URL directa con thumbnails -->
                            <a href="{{ file_info.url }}" target="_blank">
                                <img src="{{ file_info.url }}" alt="{{ file_info.name }}" title="Click para ampliar">
                            </a>
                        {% elif not file_info.error and file_info.name.lower().endswith('.pdf') %}
                            <!-- Para PDFs: web_url -->
                            <a class="pdf-link" href="{{ file_info.url }}" target="_blank">
                                <img class="pdf-icon" src="{{ url_for('static', filename='IMG/pdf_icon.png') }}" alt="PDF">
                                <span class="pdf-filename">{{ file_info.name }}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No hay comprobantes disponibles.</p>
            {% endif %}
        </div>
        {% endif %}
    
        {% if not is_pdf %}
        <br><br><br><br>
        <div class="button-container">
            <button type="button" class="validate-button" id="validateBtn" onclick="openConfirmationValidationModal()">Validar</button>
            <button type="button" class="deny-button" id="denyBtn" onclick="openConfirmationRejectionModal()">Rechazar</button>
        </div>
        {% endif %}
        
    </form>

    {% if not is_pdf %}
    <br><br>
    <div class="pagination" style="text-align: right;">
        {% if pagination > 1 %}
            <a href="{{ url_for('receiptDetails', customer_id=customer_id, customer_isRembd=customer[3], store_id=store_id, pagination=pagination - 1) }}" class="add-button">Anterior</a>
        {% else %}
            <span class="disabled-button">Anterior</span>
        {% endif %}
        <span>Página {{ pagination }} de {{ (total_receipts // receipts_per_page) + (1 if total_receipts % receipts_per_page > 0 else 0) }}</span>
        {% if pagination < (total_receipts // receipts_per_page) + (1 if total_receipts % receipts_per_page > 0 else 0) %}
            <a href="{{ url_for('receiptDetails', customer_id=customer_id, customer_isRembd=customer[3], store_id=store_id, pagination=pagination + 1) }}" class="add-button">Siguiente</a>
        {% else %}
            <span class="disabled-button">Siguiente</span>
        {% endif %}
    </div>
    {% endif %}
    
</div>

{% if not is_pdf %}
<!-- Modal de confirmación -->
<div id="confirmationValidationModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeConfirmationValidationModal()">&times;</span>
        <h2>¿Está seguro de Validar este Recibo de Cobranza?</h2>
        <button class="validate-button" onclick="validateReceipt()">Sí</button>
        <button class="deny-button" onclick="closeConfirmationValidationModal()">No</button>
    </div>
</div>
<div id="confirmationRejectionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeConfirmationRejectionModal()">&times;</span>
        <h2>¿Está seguro de Rechazar este Recibo de Cobranza?</h2>
        <button class="validate-button" onclick="openRejectionReasonModal()">Sí</button>
        <button class="deny-button" onclick="closeConfirmationRejectionModal()">No</button>
    </div>
</div>

<!-- Modal de Validando/ Rechazando -->
<div id="loadingValidationModal" class="loading-modal">
    <div class="loading-content">
        <p>Validando Recibo de Cobranza...</p>
    </div>
</div>
<div id="loadingRejectionModal" class="loading-modal">
    <div class="loading-content">
        <p>Rechazando Recibo de Cobranza...</p>
    </div>
</div>

<!-- Modal de Éxito -->
<div id="finalValidationModal" class="modal">
    <div class="modal-content">
        <h2>El recibo ha sido validado exitosamente</h2>
        <button class="validate-button" onclick="window.location.href='{{ url_for("receipts") }}'">Aceptar</button>
    </div>
</div>
<div id="finalRejectionModal" class="modal">
    <div class="modal-content">
        <h2>El recibo ha sido rechazado exitosamente</h2>
        <button class="validate-button" onclick="window.location.href='{{ url_for("receipts") }}'">Aceptar</button>
    </div>
</div>

<!-- Modal de Motivo de Rechazo -->
<div id="rejectionReasonModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeRejectionReasonModal()">&times;</span>
        <h2>Motivo del Rechazo</h2>
        <textarea id="rejectionReason" placeholder="Ingrese el motivo del rechazo"></textarea>
        <button class="validate-button" onclick="sendRejectionWithReason()">Enviar</button>
        <button class="deny-button" onclick="closeRejectionReasonModal()">Cancelar</button>
    </div>
</div>
{% endif %}
{% endblock %}

{% if not is_pdf %}
{% block extra_js %}
<script>
    // Modales de Confirmación:
    function openConfirmationValidationModal() {
        document.getElementById("confirmationValidationModal").style.display = "block";
    }
    function openConfirmationRejectionModal() {
        document.getElementById("confirmationRejectionModal").style.display = "block";
    }
    function closeConfirmationValidationModal() {
        document.getElementById("confirmationValidationModal").style.display = "none";
    }
    function closeConfirmationRejectionModal() {
        document.getElementById("confirmationRejectionModal").style.display = "none";
    }

    // Modales de Validando/ Rechazando:
    function openLoadingValidationModal() {
        document.getElementById("loadingValidationModal").style.display = "flex";
    }
    function openLoadingRejectionModal() {
        document.getElementById("loadingRejectionModal").style.display = "flex";
    }
    function closeLoadingValidationModal() {
        document.getElementById("loadingValidationModal").style.display = "none";
    }
    function closeLoadingRejectionModal() {
        document.getElementById("loadingRejectionModal").style.display = "none";
    }

    // Modales de Éxito:
    function openFinalValidationModal() {
        document.getElementById("finalValidationModal").style.display = "block";
    }
    function openFinalRejectionModal() {
        document.getElementById("finalRejectionModal").style.display = "block";
    }

    // Modal de Motivo
    function openRejectionReasonModal() {
        closeConfirmationRejectionModal()
        document.getElementById("rejectionReasonModal").style.display = "block";
    }
    function closeRejectionReasonModal() {
        document.getElementById("rejectionReasonModal").style.display = "none";
    }

    // Acción al Validar
    function validateReceipt() {
        closeConfirmationValidationModal();
        openLoadingValidationModal();

        const formData = new FormData(document.getElementById('pdfForm'));
        const store_id = "{{ store[0] }}";
        const customer_id = "{{ customer[0] }}";
        const customer_isRembd = "{{ customer[3] }}";
        const pagination = "{{ pagination }}";
        const receipt_id = "{{ receipts[ pagination - 1 ][0] }} ";
        const salesRep_NameEmail = "{{ salesRep_NameEmail }}";
        const salesRep_fullname = "{{ salesRep_NameEmail[0]}} {{ salesRep_NameEmail[1]}}";
        const salesRep_email = "{{ salesRep_NameEmail[2]}}";
        formData.append('store_id', store_id);
        formData.append('customer_id', customer_id);
        formData.append('customer_isRembd', customer_isRembd);
        formData.append('pagination', pagination);
        formData.append('receipt_id', receipt_id);
        formData.append('salesRep_fullname', salesRep_fullname);
        formData.append('salesRep_email', salesRep_email);
        
        // Enviar el HTML
        fetch('/send_validateReceipt_email', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Formulario temporal para generate_pdf
                /*
                const pdfForm = document.createElement('form');
                pdfForm.method = 'POST';
                pdfForm.action = '/generate_pdf';
                pdfForm.target = '_blank';
                pdfForm.style.display = 'none';
                
                const fields = {
                    'store_id': store_id,
                    'customer_id': customer_id,
                    'receipt_id': receipt_id,
                    'pagination': pagination
                };
                
                for (const [name, value] of Object.entries(fields)) {
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = name;
                    input.value = value;
                    pdfForm.appendChild(input);
                }
                
                document.body.appendChild(pdfForm);
                pdfForm.submit();
                document.body.removeChild(pdfForm);
                */

                closeLoadingValidationModal();
                openFinalValidationModal();
            } else {
                alert('Error al enviar el correo de validación.');
                closeLoadingValidationModal();
            }
        })
        .catch(error => {
            console.error('Error:', error);
            closeLoadingValidationModal();
        });

        // Envía el formulario para generar el PDF
        //document.getElementById('pdfForm').submit();
    }

    document.getElementById('pdfForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch('/generate_pdf', {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Error al generar el PDF');
            }
            return response.blob();
        })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;

            // Define el nombre del archivo
            const storeName = formData.get('storeName');
            const customerName = formData.get('customerName');
            const currentDate = new Date().toISOString().split('T')[0];
            const filename = `Cobranza_${storeName}_${customerName}_${currentDate}.pdf`;

            a.download = filename;
            document.body.appendChild(a);
            a.click();
            a.remove();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });


    // Acción al Rechazar (enviar correo explicando el motivo)
    function sendRejectionWithReason() {

        const reason = document.getElementById("rejectionReason").value;

        if (!reason.trim()) {
            alert("Por favor, ingrese un motivo para el rechazo.");
            return;
        }

        closeRejectionReasonModal();
        openLoadingRejectionModal();

        const receipt_id = "{{ receipts[ pagination - 1 ][0] }} "
        const store_id = "{{ store[0] }}";
        const store_name = "{{ store[1] }}";
        const customer = "{{ customer[1] }}" + " " + "{{ customer[2] }}";
        const currency = "{{ invoices[0][6] }}";
        const totalPaid = '{{ "%.2f"|format(receipts[ pagination - 1 ][1]) }}';
        const totalCommission = '{{ "%.2f"|format(receipts[ pagination - 1 ][2]) }}';
        const discountValue = "{{ paymentEntries[0][3] }}";
        const salesRep_fullname = "{{ salesRep_NameEmail[0]}} {{ salesRep_NameEmail[1]}}";
        const salesRep_email = "{{ salesRep_NameEmail[2]}}";

        const formData = new FormData(document.getElementById('pdfForm'));
        formData.append('receipt_id', receipt_id);
        formData.append('rejection_reason', reason);
        formData.append('store_id', store_id);
        formData.append('store_name', store_name);
        formData.append('customer', customer);
        formData.append('currency', currency);
        formData.append('total_paid', totalPaid);
        formData.append('total_commission', totalCommission);
        formData.append('discount_value', discountValue);
        formData.append('salesRep_fullname', salesRep_fullname);
        formData.append('salesRep_email', salesRep_email);

        fetch('/send_rejectionReceipt_email', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                closeLoadingRejectionModal();
                openFinalRejectionModal()
            } else {
                alert('Error al enviar el correo de rechazo.');
                closeLoadingRejectionModal();
            }
        })
        .catch(error => {
            console.error('Error:', error);
            closeLoadingRejectionModal();
        });
    }

</script>
{% endblock %}
{% endif %}