{% extends "receipt.adminBase.html" %}

{% block title %}Gipsy - Reglas del Negocio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/businessRules.css') }}"/>
{% endblock %}

{% block content %}

<div class="content">
    <div class="title-container">
        <a class="back" href="{{ url_for('homeAdmin') }}"><img src="{{ url_for('static', filename='IMG/back.png') }}" alt="Back"></a>
        <div class="title-center">
            <h2>Reglas de Negocio</h2>
        </div>
    </div>

    <table class="styled-table" id="rules-table">
        <thead>
            <tr>
                <th>Nombre Condición</th>
                <th>Condición Días</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {% for rule in rules %}
            <tr data-id="{{rule[0]}}">
                <td>{{rule[1]}}</td>
                <td>{{rule[2]}}</td>
                <td>{{rule[3]}}</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" {% if rule[4] %}checked{% endif %} onclick="toggleRow(this)">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td><span class="edit-icon" onclick="editRow(this)"><img src="{{ url_for('static', filename='IMG/edit.png') }}" alt="Editar"></span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button class="add-button" onclick="addRow()">+</button>

    <!-- Formularios ocultos para escritura -->
    <form id="addForm" action="{{ url_for('businessRules') }}" method="POST" style="display:none;">
        <input type="hidden" name="action" value="add">
        <input type="hidden" name="name" id="addName">
        <input type="hidden" name="days" id="addDays">
        <input type="hidden" name="percentage" id="addPercentage">
        <input type="hidden" name="is_active" id="addIsActive" value="1"> <!-- Valor por defecto: activo -->
    </form>

    <form id="editForm" action="{{ url_for('businessRules') }}" method="POST" style="display:none;">
        <input type="hidden" name="action" value="edit">
        <input type="hidden" name="id" id="editId">
        <input type="hidden" name="name" id="editName">
        <input type="hidden" name="days" id="editDays">
        <input type="hidden" name="percentage" id="editPercentage">
        <input type="hidden" name="is_active" id="editIsActive"> <!-- Estado del toggle -->
    </form>

    <br><br>
    <div class="button-container">
        <button type="button" class="undo-button" onclick="undoChanges()">Deshacer cambios</button>
        <button type="button" class="save-button" onclick="saveChanges()">Guardar cambios</button>
    </div>

    <div id="loadingModal" class="loading-modal">
        <div class="loading-content">
            <p>Guardando cambios...</p>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<script>
let isChanged = false;

function addRow() {
    const table = document.getElementById('rules-table').getElementsByTagName('tbody')[0];
    const newRow = table.insertRow();
    newRow.innerHTML = `
        <td><input type="text" class="input-field" placeholder="Nombre" id="newName" /></td>
        <td><input type="number" class="input-field" placeholder="Días" id="newDays" /></td>
        <td><input type="number" step="0.01" class="input-field" placeholder="%" id="newPercentage" /></td>
        <td>
            <label class="switch">
                <input type="checkbox" checked onclick="toggleRow(this)">
                <span class="slider round"></span>
            </label>
        </td>
        <td><span class="edit-icon" onclick="submitNewRule()"><img src="{{ url_for('static', filename='IMG/edit.png') }}" alt="Agregar"></span></td>
    `;
    isChanged = true;
}

function submitNewRule() {
    const name = document.getElementById('newName').value;
    const days = document.getElementById('newDays').value;
    const percentage = document.getElementById('newPercentage').value;
    const isActive = 1; // Por defecto, la nueva regla está activa

    if (name && days && percentage) {
        document.getElementById('addName').value = name;
        document.getElementById('addDays').value = days;
        document.getElementById('addPercentage').value = percentage;
        document.getElementById('addIsActive').value = isActive;
        document.getElementById('addForm').submit();
    } else {
        alert("Por favor, completa todos los campos antes de agregar.");
    }
}


function editRow(btn) {
    const row = btn.closest('tr');
    const cells = row.getElementsByTagName('td');

    Array.from(cells).forEach((cell, index) => {
        if (index <= 3) { // No cambiar el toggle ni el edit
            if (!cell.querySelector('input')) {
                const value = cell.textContent.trim();
                let inputType = index === 1 || index === 2 ? 'number' : 'text'; // Número o texto
                cell.innerHTML = `<input type="${inputType}" class="input-field" value="${value}"/>`;
            }
        }
    });

    isChanged = true;
}


function toggleRow(checkbox) {
    const row = checkbox.parentNode.parentNode.parentNode;
    const cells = row.getElementsByTagName('td');
        
    if (checkbox.checked) {
        for (let i = 0; i < cells.length; i++) {
            cells[i].style.color = "";
        }
    } else {
        for (let i = 0; i < cells.length; i++) {
            cells[i].style.color = "#b7b4bb";
        }
    }
    isChanged = true;
}
            
function undoChanges() {
    if (isChanged) {
        if (confirm("¿Estás seguro de que quieres deshacer los cambios?")) {
            isChanged = false;
            window.location.reload();
        }
    }
}

function saveChanges() {
    document.getElementById('loadingModal').style.display = 'flex';
    const table = document.getElementById('rules-table').getElementsByTagName('tbody')[0];
    const rules = [];
    
    for (let row of table.rows) {
        const id = row.getAttribute('data-id');
        const nameInput = row.cells[0].querySelector('input');
        const daysInput = row.cells[1].querySelector('input');
        const percentageInput = row.cells[2].querySelector('input');
        const isActive = row.cells[3].querySelector('input[type="checkbox"]').checked ? 1 : 0; // Captura el estado del toggle
        
        if (nameInput && daysInput && percentageInput) {
            const name = nameInput.value.trim();
            const days = daysInput.value.trim();
            const percentage = percentageInput.value.trim();
            rules.push({ id, name, days, percentage, is_active: isActive });
        } else {
            const name = row.cells[0].textContent.trim();
            const days = row.cells[1].textContent.trim();
            const percentage = row.cells[2].textContent.trim();
            if (id && name && days && percentage) {
                rules.push({ id, name, days, percentage, is_active: isActive });
            }
        }
    }
    
    // Enviar los datos al servidor
    if (rules.length > 0) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('businessRules') }}", true);
        xhr.setRequestHeader("Content-Type", "application/json");
    
        xhr.onload = function() {
            if (xhr.status === 200) {
                window.location.reload();
            } else {
                alert("Hubo un error al guardar los cambios.");
            }
        };
    
        xhr.send(JSON.stringify(rules));
        isChanged = false;
    } else {
        alert("No se realizaron cambios.");
    }
}

window.onbeforeunload = function() {
    if (isChanged) {
        return "Tienes cambios sin guardar. ¿Estás seguro de que quieres salir?";
    }
};
</script>
{% endblock %}