<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Gipsy{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/menuPurple.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/homePurple.css') }}"/>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='IMG/Gipsy_isotipo_color.png') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if not is_pdf %}
    <div class="sidebar" id="sidebar">
        <div class="logo">
            <a href="{{ url_for('homeAdmin') }}"> <img src="{{ url_for('static', filename='IMG/Gipsy_imagotipo_color.png') }}" alt="Gipsy's logo"></a>
        </div>
        <div class="containerSideBar">
            <ul>
                <li>
                    <div class="optionContainer {% if active_page == 'homeAdmin' %}active{% endif %}">
                        {% if active_page == 'homeAdmin' %}<div class="verticalLine"></div>{% endif %}
                        <a href="{{ url_for('homeAdmin') }}" class="optionLink">Inicio</a>
                    </div>
                </li>                             
                <li>
                    <div class="optionContainer {% if active_page == 'sellers' %}active{% endif %}">
                        {% if active_page == 'sellers' %}<div class="verticalLine"></div>{% endif %}
                        <a href="{{ url_for('sellers') }}" class="optionLink">Vendedores</a>
                    </div>
                </li>
                <li>
                    <div class="optionContainer {% if active_page == 'receipts' %}active{% endif %}">
                        {% if active_page == 'receipts' %}<div class="verticalLine"></div>{% endif %}
                        <a href="{{ url_for('receipts') }}" class="optionLink">Recibos de Cobranza</a>
                    </div>
                </li>
                <li>
                    <div class="optionContainer {% if active_page == 'businessRules' %}active{% endif %}">
                        {% if active_page == 'businessRules' %}<div class="verticalLine"></div>{% endif %}
                        <a href="{{ url_for('businessRules') }}" class="optionLink">Reglas del Negocio</a>
                    </div>
                </li>
            </ul>
            <ul class="bottomMenu">
                <li>
                    <div class="optionContainer {% if active_page == 'loginReceipt' %}active{% endif %}">
                        {% if active_page == 'loginReceipt' %}<div class="verticalLine"></div>{% endif %}
                        <a href="{{ url_for('loginReceipt') }}" class="optionLink">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="backgroundOpacity" id="backgroundOpacity" onclick="closeSidebar()"></div>
    {% endif %}

    <div class="main-content">
        <header>
            {% if not is_pdf %}
            <div class="menu-icon" onclick="toggleSidebar(); toggleBackground()">
                <img src="{{ url_for('static', filename='IMG/menu_icon.png') }}" alt="Menu Icon">
            </div>
            <div class="logoMobile">
                <a href="{{ url_for('homeAdmin') }}"> <img src="{{ url_for('static', filename='IMG/Gipsy_imagotipo_color.png') }}" alt="Gipsy's logo"></a>
            </div>
            <div class="space2"></div>
            {% endif %}
        </header>
        
        <!-- Contenido principal -->
        {% block content %}{% endblock %}
    </div>
    
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }

        function toggleBackground() {
            var sidebar = document.getElementById('backgroundOpacity');
            sidebar.classList.toggle('active');
        }

        function closeSidebar() {
            var sidebar = document.getElementById('sidebar');
            if (sidebar.classList.contains('active')) {
                sidebar.classList.remove('active');
            }
            if (backgroundOpacity.classList.contains('active')) {
                backgroundOpacity.classList.remove('active');
            }
        }
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>
