{% extends "receipt.sellerBase.html" %}

{% block title %}Gipsy - Cuentas por Cobrar{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/accountsReceivable.css') }}"/>
{% endblock %}

{% block content %}
<div class="content">
    <div class="title-container">
        <a class="back" href="{{ url_for('homeSeller') }}"><img src="{{ url_for('static', filename='IMG/back.png') }}" alt="Back"></a>
        <div class="title-center">
            <h2>Cuentas por Cobrar</h2>
        </div>
    </div>

    <br>
    <form action="{{ url_for('accountsReceivable') }}" method="GET">
        <div class="searchBar">
            <div class="searchInputContainer">
                <input id="searchInput" type="text" placeholder="Buscar" name="search" oninput="filterTable(this.value)">
                <button type="submit">
                    <img src="{{ url_for('static', filename='IMG/lupa.png') }}" alt="Buscar">
                </button>
            </div>
        </div>
    </form>
    <br> 

    <div class="company-container">
        {% for store in stores %}
        <button class="company-name" onclick="toggleSellers('{{ store[0] }}')">{{ store[0] }} | {{ store[1] }}
            <span class="customer-count">{{ count_customers_by_store[store[0]][0] }} clientes con facturas por cobrar. Total por cobrar: {{ count_customers_by_store[store[0]][1] }}</span>
        </button>
        <div class="company-sellers" id="sellers-{{ store[0] }}" style="display: none;">
            {% for customer in customers_by_store[store[0]] %}
            <div class="customer-container">
                <p>{{ customer[0] }} | {{ customer[1] }}{{ customer[2] }}
                    <a href="javascript:void(0)" onclick="openModal('{{ customer[0] }}', '{{ customer[1] | replace("'", "\\'") }}', '{{ customer[2] | replace("'", "\\'") }}', '{{ store[0] }}', '{{ store[1] | replace("'", "\\'") }}')">Registrar Cobranza</a>
                </p>
                <div class="separator"></div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Facturas del Cliente</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>N_CTA</th>
                    <th>Moneda</th>
                    <th>Monto Original</th>
                    <th>Monto Abonado</th>
                    <th>Monto IVA Retenido</th>
                    <th>Monto Restante</th>
                    <th>Registrar</th>
                </tr>
            </thead>
            <tbody>
                <!-- Llenado dinámico -->
            </tbody>
        </table>
        <button class="save-button" onclick="registerCollections()">Registrar Cobranza</button>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    let selectedAccountIDs = []; // Arreglo de AccountID de facturas seleccionadas

    function filterTable(searchTerm) {
        const companyButtons = document.querySelectorAll('.company-name');
        companyButtons.forEach(button => {
            const storeName = button.textContent.toLowerCase();
            const storeId = button.getAttribute('onclick').match(/'([^']+)'/)[1];
            const sellersDiv = document.getElementById('sellers-' + storeId);
            const sellers = sellersDiv.getElementsByTagName('p');

            let storeMatches = storeName.includes(searchTerm.toLowerCase());
            let sellerMatches = false;

            // Mostrar u ocultar vendedores según el término de búsqueda
            for (let seller of sellers) {
                const sellerName = seller.textContent.toLowerCase();
                if (sellerName.includes(searchTerm.toLowerCase())) {
                    sellerMatches = true;
                    seller.style.display = '';
                } else {
                    seller.style.display = 'none';
                }
            }

            // Mostrar u ocultar la tienda según si coincide con el término de búsqueda o tiene vendedores que coincidan
            if (storeMatches || sellerMatches) {
                button.style.display = '';
                sellersDiv.style.display = 'block';
            } else {
                button.style.display = 'none';
                sellersDiv.style.display = 'none'
            }
        });
    } 

    document.querySelectorAll('.company-name').forEach(button => {
        button.addEventListener('click', () => {
            const answer = button.nextElementSibling;
            answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
        });
    });

    // Formateo español para las cantidades
    function formatSpanishNumber(number) {
        return number.toFixed(2)
            .replace(".", "X")
            .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            .replace("X", ",");
    }

    /*Listado de Facturas*/
    function openModal(customerId, customerName, customerLastName, storeId, storeName) {

        const modal = document.getElementById("modal");
        modal.style.display = "block";

        const modalTitle = modal.querySelector("h2");
        modalTitle.textContent = `Facturas de ${customerName} ${customerLastName}`;

        // Carga de la tabla
        const table = modal.querySelector(".styled-table");
        const button = modal.querySelector(".save-button");

        // Eliminar mensajes anteriores (carga, error o "no tiene facturas")
        const existingMessages = modal.querySelectorAll("#loadingMessage, .no-invoices-message");
        existingMessages.forEach(message => message.remove());

        // Crear y mostrar el mensaje de carga
        const loadingMessage = document.createElement("p");
        loadingMessage.id = "loadingMessage";
        loadingMessage.textContent = "Cargando facturas...";
        table.style.display = "none";
        button.style.display = "none";
        modal.querySelector(".modal-content").insertBefore(loadingMessage, table);

        // Cuerpo de la tabla
        const tableBody = table.querySelector("tbody");
        tableBody.innerHTML = "";

        fetch(`/get_invoices/${customerId}/${storeId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error al obtener las facturas");
                }
                return response.json();
            })
            .then(data => {
                const invoices = data.invoices;
                const pendingInvoices = invoices.filter(invoice => invoice.Remaining > 0);

                // Eliminar el mensaje de carga
                document.getElementById("loadingMessage").remove();

                if (pendingInvoices.length > 0) { // Mostrar facturas pendientes
                    table.style.display = "table";
                    pendingInvoices.forEach(invoice => {
                        const row = document.createElement("tr");

                        row.innerHTML = `
                            <td>${invoice.N_CTA}</td>
                            <td>${invoice.Currency}</td>
                            <td>${formatSpanishNumber(invoice.Amount)}</td>
                            <td>${formatSpanishNumber(invoice.Balance)}</td>
                            <td>${formatSpanishNumber(invoice.IVA)}</td>
                            <td>${formatSpanishNumber(invoice.Remaining)}</td>
                            <td><input type="checkbox" class="invoice-checkbox" data-account-id="${invoice.AccountID}" /></td>
                        `;

                        tableBody.appendChild(row);
                    });
                    button.style.display = "block";
                } else {
                    // Eliminar cualquier mensaje anterior antes de agregar uno nuevo
                    const existingNoInvoicesMessage = modal.querySelector(".no-invoices-message");
                    if (existingNoInvoicesMessage) {
                        existingNoInvoicesMessage.remove();
                    }

                    // Crear y mostrar el mensaje "No tiene facturas pendientes"
                    const noInvoicesMessage = document.createElement("p");
                    noInvoicesMessage.className = "no-invoices-message"; // Agregar una clase para identificarlo
                    noInvoicesMessage.textContent = "Este cliente no tiene facturas pendientes.";
                    modal.querySelector(".modal-content").appendChild(noInvoicesMessage);
                }
            })
            .catch(error => {
                console.error("Error al cargar las facturas:", error);

                // Actualizar el mensaje de carga con el mensaje de error
                const loadingMessage = document.getElementById("loadingMessage");
                if (loadingMessage) {
                    loadingMessage.textContent = "No se pudieron cargar las facturas.";
                }
            });
    }

    function closeModal() {
        document.getElementById("modal").style.display = "none";
    }

    // Manejo de Selección de Facturas
    document.addEventListener("change", function(event) {
        if (event.target.classList.contains("invoice-checkbox")) {
            const accountID = event.target.getAttribute("data-account-id");
            if (event.target.checked) {
                selectedAccountIDs.push(accountID);
            } else {
                selectedAccountIDs = selectedAccountIDs.filter(id => id !== accountID);
            }
        }
    });

    function registerCollections() {
        console.log(selectedAccountIDs.length);
        console.log(selectedAccountIDs);

        if (selectedAccountIDs.length > 0) {

            // Verificación comentada debido a que los recibos sí permiten pagos de diferentes monedas
            /*
            sessionStorage.setItem("selectedAccountIDs", JSON.stringify(selectedAccountIDs));
            let selectedCurrencies = new Set();
            for (const accountID of selectedAccountIDs) {
                const invoice = document.querySelector(`.invoice-checkbox[data-account-id="${accountID}"]`).closest("tr");
                const currency = invoice.querySelector("td:nth-child(2)").textContent.trim();
                selectedCurrencies.add(currency);
                if (selectedCurrencies.size > 1) {
                    alert("Las facturas seleccionadas tienen diferentes monedas. Seleccione facturas de una misma moneda para registrar la cobranza.");
                    return;
                }
            }
            */

            const accountIdsString = selectedAccountIDs.join('-');
            window.location.href = "{{ url_for('accountsForm', account_ids='ACCOUNT_IDS') }}".replace('ACCOUNT_IDS', accountIdsString);
        
        } else {
            alert("Por favor, selecciona al menos una factura.");
        }
    }

    
</script>
{% endblock %}