<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gipsy - Registro de Cobranza al Mayor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/welcome.css') }}"/>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='IMG/Gipsy_isotipo_color.png') }}">
</head>
<body>
    <a class="back" href="{{ url_for('welcome') }}"><img src="{{ url_for('static', filename='IMG/back.png') }}" alt="Cerrar Sesión"></a>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='IMG/Gipsy_imagotipo_color.png') }}" alt="Logo" class="logo">
            <h2>Registro de Cobranza al Mayor</h2>
            <p>Seleccione el rol con el que quiera ingresar.</p>
        </div>
        <br><br>

        <div class="grid">
            <a href="{{ url_for('homeAdmin') }}" class="card">
                <img src="{{ url_for('static', filename='IMG/admin2.png') }}" alt="Administrador" class="card-img">
                <h3>Rol de Administrador</h3>
            </a>
            <a href="{{ url_for('homeSeller') }}" class="card">
                <img src="{{ url_for('static', filename='IMG/seller2.png') }}" alt="Vendedor" class="card-img">
                <h3>Rol de Vendedor</h3>
            </a>
        </div>
    </div>
</body>
</html>