<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gipsy - Reportes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/reportsHome.css') }}"/>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='IMG/Gipsy_isotipo_color.png') }}">
</head>
<body>
    <a class="back" href="{{ url_for('welcome') }}"><img src="{{ url_for('static', filename='IMG/back.png') }}" alt="Regresar"></a>
    <a class="logout" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='IMG/salida.png') }}" alt="Cerrar Sesión"></a>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='IMG/Gipsy_imagotipo_color.png') }}" alt="Logo" class="logo">
            <h2>Reportes Gipsy</h2>
            <h3>Bienvenido(a), {{session['user_firstName']}}</h3>
        </div>
        <br><br>

        {% set num_cards = 0 %}
        {% if 2 in session['permissions'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}
        {% if 3 in session['permissions'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}
        {% if 4 in session['permissions'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}
        {% if 5 in session['permissions'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}
        {% if 6 in session['permissions'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}
        {% if 7 in session['permissions'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}
        {% if 8 in session['permissions'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}
        {% if 10 in session['permissions'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}

        {% set grid_class = '' %}
        {% if num_cards == 1 %}
            {% set grid_class = 'grid-one-card' %}
        {% elif num_cards == 2 %}
            {% set grid_class = 'grid-two-cards' %}
        {% elif num_cards == 3 %}
            {% set grid_class = 'grid-three-cards' %}
        {% elif num_cards == 4 %}
            {% set grid_class = 'grid-four-cards' %}
        {% endif %}

        <div class="grid {{ grid_class }}">
            {% if 2 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/f20633d1-6c6e-4270-a752-0ca10f826969/b9ba0fbdf11f183f2609?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/barras.png') }}" alt="Reportes de Ingresos y Egresos" class="card-img">
                <h3>1. Reportes Flujo de Caja</h3>
            </a>
            {% endif %}
            {% if 3 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/653b4e9d-630b-4aee-9298-3bde048461d0/ea10fb55520ad1df2cf2?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/contabilidad.png') }}" alt="Gráficos de Flujo de Caja" class="card-img">
                <h3>2. Gráficos de Flujo de Caja</h3>
            </a>
            {% endif %}
            {% if 4 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/107de438-1a96-47fc-a374-ffdc47ae8732/a8141373bac9bfb281be?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/impuestos.png') }}" alt="Gráficos de Flujo de Caja" class="card-img">
                <h3>3. Resumen <br> de IVA</h3>
            </a>
            {% endif %}
            {% if 5 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/7f539400-6f5a-4815-8031-deda31ab59a8/d4cd47364696c81e96ba?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/saldar.png') }}" alt="Reportes de Saldos de Cuentas" class="card-img">
                <h3>4. Saldos de Cuentas</h3>
            </a>
            {% endif %}
            {% if 6 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/afc32291-d7e8-4e70-81ff-cfdf3afade9e/9c671c00cbb4c49a7678?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/comision.png') }}" alt="Reportes de Comisiones de Vendedores" class="card-img">
                <h3>5. Comisiones de Vendedores</h3>
            </a>
            {% endif %}
            {% if 7 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/8c9301b3-a12b-4681-87b8-b4df4d3ce98b/cadedc981b2068e932b5?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/ventas.png') }}" alt="Reportes de Ventas" class="card-img">
                <h3>6. Ventas</h3>
            </a>
            {% endif %}
            {% if 8 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/982e279d-7215-4029-96c3-435f7bb2d14d/97d69b06ec0e00986670?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/warranty.png') }}" alt="Reportes de Garantías" class="card-img">
                <h3>7. Garantías</h3>
            </a>
            {% endif %}
            {% if 10 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/660781e4-5668-459f-83d9-c2cba5f6cf36/7569977f5b3aa69deaba?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/CxP.png') }}" alt="Reportes de Cuentas por Pagar" class="card-img">
                <h3>8. CxP</h3>
            </a>
            {% endif %}
            {% if 13 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/081f665d-b5ad-49f3-a6c8-33c112fae334/d17a47cec1544dbaa006?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/purchase.png') }}" alt="Reportes de Compras" class="card-img">
                <h3>9. Compras</h3>
            </a>
            {% endif %}
            {% if 45 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/24591add-6fb1-4329-af36-6cb84e9ed0b4/cef3f79880a523a81ae6?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/despacho.png') }}" alt="Órdenes de Compra Farmatodo" class="card-img">
                <h3>10. Farmatodo</h3>
            </a>
            {% endif %}
            {% if 46 in session['permissions'] %}
            <a target="_blank" href="https://app.powerbi.com/groups/me/reports/b8181f04-3aac-4eb2-bd6e-85b5e3fc8f16/27ab87867e9e24e2b39d?ctid=89f40f4c-5692-42c5-9d40-22ae54d15dc4&experience=power-bi&chromeless=1" class="card">
                <img src="{{ url_for('static', filename='IMG/cobrar.png') }}" alt="Cuentas por Cobrar" class="card-img">
                <h3>11. CxC</h3>
            </a>
            {% endif %}
        </div>
    </div>

</body>
</html>