<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gipsy - Reportes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/reportsHome.css') }}"/>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='IMG/Gipsy_isotipo_color.png') }}">
</head>
<body>
    <a class="back" href="{{ url_for('welcome') }}"><img src="{{ url_for('static', filename='IMG/back.png') }}" alt="Regresar"></a>
    <a class="logout" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='IMG/salida.png') }}" alt="Cerrar Sesión"></a>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='IMG/Gipsy_imagotipo_color.png') }}" alt="Logo" class="logo">
            <h2>Reportes Gipsy</h2>
            <h3>Bienvenido(a), {{session['user_firstName']}}</h3>
        </div>
        <br><br>
        <div class="grid">
            <a href="https://app.powerbi.com/groups/me/reports/8a3f3c13-b0f5-42c8-a0b9-1fc7a44a5d90/b9ba0fbdf11f183f2609?ctid=e28fcd45-30d5-4919-b266-27bca9760759&experience=power-bi&bookmarkGuid=0a99973d-29b0-4f6d-b6f0-ddcba694962d" class="card">
                <img src="{{ url_for('static', filename='IMG/barras.png') }}" alt="Reportes de Ingresos y Egresos" class="card-img">
                <h3>Reportes de Ingresos y Egresos</h3>
            </a>
            <a href="https://app.powerbi.com/groups/me/reports/824c2893-009a-4ee0-a680-9d24e47eb84b/ea10fb55520ad1df2cf2?ctid=e28fcd45-30d5-4919-b266-27bca9760759&experience=power-bi&bookmarkGuid=b7950a26-bfcb-4d59-b5c9-de92b7e1c14a" class="card">
                <img src="{{ url_for('static', filename='IMG/contabilidad.png') }}" alt="Gráficos de Flujo de Caja" class="card-img">
                <h3>Gráficos de Flujo de Caja</h3>
            </a>
            <!--
            <a href="" class="card">
                <img src="{{ url_for('static', filename='IMG/comision.png') }}" alt="Reportes de Comisiones de Vendedores" class="card-img">
                <h3>Reportes de Comisiones de Vendedores</h3>
            </a>
            !-->
        </div>
    </div>

</body>
</html>