<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gipsy - Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/welcome.css') }}"/>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='IMG/Gipsy_isotipo_color.png') }}">
</head>
<body>
    <a class="back" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='IMG/salida.png') }}" alt="Cerrar Sesión"></a>
    <div class="container">
        <img src="{{ url_for('static', filename='IMG/Gipsy_imagotipo_color.png') }}" alt="Logo" class="logo">
        <br><br>
        <div class="grid">
            <a href="{{ url_for('homeCashier') }}" class="card">
                <img src="{{ url_for('static', filename='IMG/cash-flow.png') }}" alt="Flujo de Caja" class="card-img">
                <h3>Flujo de Caja</h3>
            </a>
            <a href="{{ url_for('receiptRole') }}" class="card">
                <img src="{{ url_for('static', filename='IMG/receipt.png') }}" alt="Registro de Cobranza al Mayor" class="card-img">
                <h3>Registro de Cobranza al Mayor</h3>
            </a>
            <!--
            <a href="{{ url_for('welcome') }}" class="card disabled">
                <img src="{{ url_for('static', filename='IMG/document.png') }}" alt="Gestión de Documentos" class="card-img">
                <h3>Gestión de Documentos</h3>
            </a>
            -->
            <!--
            <a href="{{ url_for('welcome') }}" class="card disabled">
                <img src="{{ url_for('static', filename='IMG/padlock.png') }}" alt="Gestión de Credenciales" class="card-img">
                <h3>Gestión de Credenciales</h3>
            </a>
            -->
        </div>
    </div>
</body>
</html>