<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gipsy - Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/welcome.css') }}"/>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='IMG/Gipsy_isotipo_color.png') }}">
</head>
<body>
    <a class="back" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='IMG/salida.png') }}" alt="Cerrar Sesión"></a>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='IMG/Gipsy_imagotipo_color.png') }}" alt="Logo" class="logo">
            <h2>Bienvenido(a), {{session['user_firstName']}}</h2>
        </div>
        <br><br>

        {% set num_cards = 0 %}
        {% if 0 in session['modules'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}
        {% if 1 in session['modules'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}
        {% if 2 in session['modules'] %}
            {% set num_cards = num_cards + 1 %}
        {% endif %}

        <div class="grid {% if num_cards == 2 %}two-column-grid{% endif %}">
            {% if 1 in session['modules'] %}
            <a href="{{ url_for('homeCashier') }}" class="card {% if num_cards == 1 %}center-single-card{% endif %}">
                <img src="{{ url_for('static', filename='IMG/cash-flow.png') }}" alt="Flujo de Caja" class="card-img">
                <h3>Flujo de Caja</h3>
            </a>
            {% endif %}
            {% if 0 in session['modules'] %}
            <a onclick="handleReceiptRole()" class="card {% if num_cards == 1 %}center-single-card{% endif %} disabled">
                <img src="{{ url_for('static', filename='IMG/receipt.png') }}" alt="Registro de Cobranza al Mayor" class="card-img">
                <h3>Registro de Cobranza al Mayor</h3>
                <span>Sistema en mantenimiento. <br> Por favor, vuelva más tarde.</span>
            </a>
            {% endif %}
            {% if 2 in session['modules'] %}
            <a href="{{ url_for('reports.homeReports') }}" class="card {% if num_cards == 1 %}center-single-card{% endif %}">
                <img src="{{ url_for('static', filename='IMG/dashboard.png') }}" alt="Reportes" class="card-img">
                <h3>Visualización de Reportes</h3>
            </a>
            {% endif %}
            <!--
            <a href="{{ url_for('welcome') }}" class="card disabled">
                <img src="{{ url_for('static', filename='IMG/padlock.png') }}" alt="Gestión de Credenciales" class="card-img">
                <h3>Gestión de Credenciales</h3>
            </a>
            -->
        </div>
    </div>

    <div id="modalRole" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="modal-header">
                <h2>Registro de Cobranza al Mayor</h2>
                <p>Seleccione el rol con el que quiera ingresar.</p>
            </div>
            
            <div class="grid role-grid">
                {% for role in roles_info %}
                {% if role.name != 'Supervisor' %}
                <div class="role-card card" onclick="selectRole({{ role.id }})">
                    <img src="{{ url_for('static', filename='IMG/' + ('admin2.png' if role.id == 1 else 'seller2.png')) }}" 
                        alt="{{ role.name }}" class="role-card-img">
                    <h4>{{ role.name }}</h4>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>

<script>
    function handleReceiptRole(){
        const userRoles = {{ roles_info | tojson }};

        if (userRoles.length == 1) {
            const roleId = userRoles[0].id;
            selectRole(roleId);
        }
        else if(userRoles.length > 1) {
            const modal = document.getElementById("modalRole");
            document.getElementById('modalRole').style.display = 'block';
        }
    }

    function selectRole(roleId) {
        window.location.href = roleId === 0 ? "{{ url_for('homeSeller') }}" : "{{ url_for('homeAdmin') }}";
    }

    function closeModal() {
        document.getElementById('modalRole').style.display = 'none';
    }

</script>